.nextra-scrollbar {
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba(115, 115, 115, 0.4) transparent; /* Firefox */
  scrollbar-gutter: stable;

  &::-webkit-scrollbar {
    @apply size-3;
  }

  &::-webkit-scrollbar-track {
    @apply bg-transparent;
  }

  &::-webkit-scrollbar-thumb {
    @apply rounded-[10px];

    &:hover {
      border: 3px solid transparent;
      background-color: var(--tw-shadow-color);
      background-clip: content-box;
      @apply shadow-neutral-500/20 hover:shadow-neutral-500/40;
    }
  }
}

/* Hide scrollbar */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */

  &::-webkit-scrollbar {
    @apply hidden; /* Chrome, Safari and Opera */
  }
}
