@import "@zeno/ui/styles/globals.css";
@import "./theme.css";
@import "fumadocs-ui/css/preset.css";

#nd-nav,
#nd-docs-nav {
  left: 0;
  right: 0;
  position: fixed;
  transition: transform 0.4s ease;
}

#nd-nav[data-scroll-hidden="true"] {
  transform: translate3d(0, calc(-100% - 1px), 0);
}

#nd-docs-nav[data-scroll-hidden="true"] {
  transform: translate3d(0, calc(-100% - 62px), 0);
}

#nd-page,
#nd-toc,
div:has(> #nd-sidebar) {
  @apply xl:mt-24;
}
